body {
    /*background: linear-gradient(to left, rgba(95, 58, 107, 0.85), rgba(130, 72, 155, 0.7), rgba(44, 62, 80, 0.6));*/
    background: linear-gradient(to left, rgba(91, 145, 163, 0.85), rgba(118, 160, 177, 0.7), rgba(70, 130, 180, 0.6));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: white;
    margin: 20px;
    font-family: 'Roboto', sans-serif !important;

}

.sidebar {
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(to right, rgba(69, 42, 122, 0.9), rgba(26, 25, 39, 0.8));
    border-radius: 12px;
    padding: 15px;
    color: white;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 1.5);
}

.sidebar h3 {
    color: #fff;
    /*font-weight: bold;*/
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.list-group-item {
    background: linear-gradient(135deg, rgba(123, 31, 162, 0.9), rgba(103, 58, 183, 0.8));
    /* Mit Helligkeitsanpassung */
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
}

.list-group-item a {
    color: white !important;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 8px;
}

.list-group-item:hover {
    background-color: hsl(39, 100%, 50%) !important;
    /* Mit Helligkeitsanpassung */
    color: #4A4A5A !important;
}

.list-group-item.active {
    background-color: #4A4A5A;
    color: #4A4A5A !important;
    /*font-weight: bold;*/
}

.song-card {
    background: linear-gradient(to right, rgba(123, 31, 162, 0.85), rgba(103, 58, 183, 0.7), rgba(63, 81, 181, 0.6));
    backdrop-filter: blur(8px);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-card:hover {
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}

.song-title {
    font-size: 1.2rem;
    /*font-weight: bold;*/
}

.song-card .btn-action {
    margin-left: 10px;
    padding: 8px 8px;
    font-size: 1rem;

}

.btn-action i {
    font-size: 1.5rem;
}

.btn-warning i {
    color: #fff;

}

.btn-danger i {
    color: #fff;
}


.btn-info i {
    color: #fff;
}

.no-songs {
    text-align: center;
    font-size: 1.5rem;
    color: #bbb;
    /*font-weight: bold;*/
}

.btn-sm {
    padding: 5px 8px;
    font-size: 1.3rem;
    border-radius: 8px !important;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 30%;
}

.heading-style {
    background: linear-gradient(to right, rgba(155, 89, 182, 0.85), rgba(142, 68, 173, 0.7), rgba(44, 62, 80, 0.6));
    /* Hintergrundfarbe */
    border: 1px solid #4A4A5A;
    /* Rahmenfarbe */
    border-radius: 10px;
    /* Abgerundete Ecken */
    padding: 15px;
    /* Innenabstand */
    color: #fff;
    /* Schriftfarbe */
    /*font-weight: bold;*/
    /* Fettdruck */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Schatten */
    text-decoration: none !important;
}

.head-style {
    background: linear-gradient(to right, rgba(69, 42, 122, 0.9), rgba(26, 25, 39, 0.8));
    /* Hintergrundfarbe */
    border: 1px solid #4A4A5A;
    /* Rahmenfarbe */
    border-radius: 10px;
    /* Abgerundete Ecken */
    padding: 15px;
    /* Innenabstand */
    color: #fff;
    /* Schriftfarbe */
    /*font-weight: bold;*/
    /* Fettdruck */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Schatten */
    text-decoration: none !important;
}

.input-light-purple {
    background-color: #E1BEE7  ;
    /* Hellere Lila-Farbe */
    /* Schwarzer Text für besseren Kontrast */
    border: 1px solid #4A4A5A;
    /* Lila Rand */
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}

.input-light-purple:focus {
    background-color: #4A4A5A;
    /* Noch etwas heller beim Fokus */
    border-color: #4A4A5A;
    /* Leichter Lila-Effekt */
    outline: none;
    box-shadow: 0 0 10px rgba(176, 149, 197, 0.5);
}


.input-light-purple:hover {
    background-color: hsl(540, 10%, 25%);
    /* Mit Helligkeitsanpassung */
    color: #fff !important;
}

.btn-primary:hover {
    background-color: hsl(39, 100%, 50%) !important;
    color: #4A4A5A !important;
}

.btn-secondary:hover {
    background-color: hsl(540, 10%, 25%) !important;
    color: #f39c12 !important;
}


.add-btn:hover {
    background-color: hsl(39, 100%, 50%) !important;
    color: #4A4A5A !important;
    border-color: #4A4A5A;
}



@media (max-width: 768px) {
    .song-card {
        display: flex;
        flex-direction: column;
        /* Inhalte untereinander anordnen */
        align-items: center;
        text-align: center;
        padding: 10px;
    }


    .song-card .song-title {
        font-size: 1rem;
        /*font-weight: bold;*/
        width: 100%;
    }

    .song-card .d-flex {
        flex-direction: row;
        /* Buttons nebeneinander */
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .btn-action {
        font-size: 1rem;
        padding: 5px 10px;
    }

    .btn-circle {
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    .csv-upload-container {
        flex-direction: column;
        gap: 10px;
        /* Abstand zwischen Input & Button */
    }

    .csv-upload-container input {
        width: 100%;
        /* Volle Breite für bessere Usability */
    }

    .csv-upload-container button {
        width: 100%;
        /* Button ebenfalls volle Breite */
    }
}



/*---Show songs Card */

/* Das Modul standardmäßig verstecken */
.wrapper {
    max-width: 350px;
    margin: 50px auto;
    min-height: 500px;
    border-radius: 15px;
    background-color: #683d70;
    padding: 20px 15px;
    position: relative;
    overflow: hidden;
}

.wrapper .song-thumbnail {
    width: 220px;
    height: 200px;
    object-fit: fill;
    box-shadow: 0 2px 35px rgba(22, 22, 22, 0.418);
}


.middle {
    position: relative;
    width: 100%;
    margin-top: 25px;
}

.slider {
    position: relative;
    z-index: 1;
    height: 2px;
    margin: 0 15px;
}

.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #ccc;
}

.slider>.range {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

.slider>.thumb {
    position: absolute;
    top: 2px;
    z-index: 3;
    width: 15px;
    height: 15px;
    background-color: #E1BEE7;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(63, 204, 75, 0.705);
    transition: box-shadow .3s ease-in-out;
}

.slider>.thumb::after {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 29%;
    top: 32%;
    border-radius: 50%;
    content: '';
    background-color: #fff;
}

.slider>.thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
}

.slider>.thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
}

.slider>.thumb.hover {
    box-shadow: 0 0 0 3px #E1BEE7;
}

.slider>.thumb.active {
    box-shadow: 0 0 0 3px #E1BEE7;
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    --webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}


input[type="checkbox"] {
    position: absolute;
    width: 20px;
    opacity: 0;
    z-index: 200;
    right: 30px;
    top: 55.8%;
    cursor: pointer;
}

.fas.fa-heart {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 55%;
    font-size: 1.3rem;
    color: #fff;
}

@keyframes heart {
    0% {
        transform: scale(.50);
    }

    20% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

input[type="checkbox"]:checked+.fas.fa-heart {
    will-change: font-size;
    color: #E1BEE7;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

.fs-8 {
    font-size: 1.2rem;
}

.fs-09 {
    font-size: 0.9rem;
}

.wrapper .play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #E1BEE7;
}

.wrapper .footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    bottom: 0px;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    transition: all 0.4s ease-in;
    backdrop-filter: blur(10px);
    z-index: 10;
    cursor: pointer;
}


.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



